/* Typography
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* Layout
   ========================================================================== */
html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  min-width:400px;
}
body{
  height:100%;
  width:100%;
  margin:0px;
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
        letter-spacing: 10px;

}

@media (min-width: 40rem) {
  h1 { font-size: 2.5rem; }
}
h2{
  margin-bottom:0rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  display:block;
}
h4{
  font-size: 1rem;
  margin-bottom:1.5rem;
}
h5{
  font-size: .7rem;
  margin-bottom:1.5rem;
}

p {
  margin: 0 auto;
  max-width: 30rem;
  display:block;
}

blockquote { margin: 0; }

blockquote p {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1.5rem;
}

cite { color: #bbb; }

/* Section
   ========================================================================== */

section {
  text-align: center;
  padding: 2rem 0;
}

section:first-of-type { border-top: none; }

@media (min-width: 40rem) {
  section { padding: 3rem 0; padding-bottom: 5rem; }
}
@media (max-width: 40rem) {
  section { padding: 3rem 0;}
}

/* Header
   ========================================================================== */
.headSection{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:url("../images/fill.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index:-10;
}
.introduction{
  color:white;
  display: table;
  position: relative;
  height:100%;
  width:100%;
}
.me:hover{
      -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */;
}
.me{
    -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */;
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
.introduction < a {
    text-transform: none
}
.subTitle{
  color:white;
}
.topHeader{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
.topHeader > h1{
  margin-bottom:2rem;
}
.flaticon-bulb11:hover{
  color:yellow;
}
@media (min-width: 40rem) {
    .topHeader > h1{
      font-weight:300;
      letter-spacing: 20px;
      text-shadow: 0px 0px white;
    }
    .topHeader > h3{
      font-size:18px;
      font-weight:300;
      letter-spacing: 8px;

    }
}
@media (max-width: 40rem) {
    .topHeader > h1{
      font-weight:300;
    }
    .topHeader > h3{
      font-size:13px;
      font-weight:300;
      letter-spacing: 2px;
    }

}

/* About
   ========================================================================== */
   .row{
    clear:both;
    display: table;
content: " ";
box-sizing: border-box;
text-align:center;
}
.aboutMe{
  padding:0;
}
@media (max-width: 40rem) {
    .aboutMe{
      margin-bottom:7rem;
    }
    .description > h4{
  text-align:center;
}

}
.me{
  max-height:1000px;
  width:100%;
}

.align-left{
  text-align: left;
}

.divider{
  margin-left: auto;
  margin-right:auto;
  margin-top: 15px;
  width: 100px;
  border-top: 1px solid #b3b3b1;
  padding-bottom: 40px;
}
.divider-large{
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
  width: 200px;
  border-top: 1px solid #b3b3b1;
  padding-bottom: 40px;
}
.divider-small{
  margin-left: auto;
  margin-right:auto;
  margin-top: 15px;
  width: 10%;
  border-top: 1px solid #b3b3b1;
  padding-bottom: 40px;

}
#aboutTemp{
  margin-bottom:40px;
}
.description{
    font-weight:300;
    text-align:left;
}
@media (max-width: 1050px) {
  .column-third{
    width:100%;
  }
  .me{
    width:150px;
    height:150px;
    margin-top:40px;
    margin-bottom:40px;
    border-radius:100px;
  }
  .aboutMe{
    padding-left:5%;
    padding-right:5%;
  }
}

@media (min-width: 1050px) {
  .description{
      padding-left:5%;
  }
  #aboutTemp > h1{
  }
  .column-third{
    width: 33.2%; 
    float:left;
  }
  .column-two-thirds{
    width: 66.7%; 
    float:left;
    padding-top:40px;
  }
}
/* skills
   ========================================================================== */
.skills{
  background-color: #eeeae7
}

.container{
  margin-left:10%;
  margin-right:10%;
  clear:both;
  font-size:.8rem;
  display: table;
  content: " ";
  box-sizing: border-box;
  text-align: center;
}

.container > .column > h4{
  padding-left:8%;
  padding-right:8%;
  
}
.flaticon{
  font-size:7em;
  color:#7B7B7B;
  }
.courses > ul{
  text-align:left;
}
@media (max-width: 1050px) {
}
@media (min-width: 1050px) {
}

/* Projects
   ========================================================================== */
.row{
  content: "";
  display: table;
  clear: both; 
  width:100%;
}
.project{
    min-height:300px;
    min-width:100%;
}
.projects{
  padding:0;
}
.skills{
  padding-top:3em;
padding-bottom:10em;
}
/* Footer
   ========================================================================== */

.footer{
  display: block;
  background-color: rgb(54, 54, 54);
  padding: 50px 0 20px 0;
  color: white;
}



/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
  }
    .left{
  border-right: 1px solid #b3b3b1;
}
.middle{
  border-right: 1px solid #b3b3b1;
}

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 46%; }
  .column.third { width: 33.3%; }
  .column.third-alt{width:33.2%;}
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }
}

/* Timeline Work Section
   ========================================================================== */
.clearfix{
  display: table;
  content: "";
  zoom: 1;
}
.timelineContainer{
  position: relative;
  margin-bottom: 0;
  padding-bottom: 46px;
  margin-left: 12px;
  border-left: 1px solid #b3b3b1;
}
.dot{
  webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #333636;
  width: 7px;
  height: 7px;
  float: left;
  margin-left: -3px;
  margin-top: -1px;
  background-size: 100% 100%;
  border-color: #333636;
}
.timelineContainer{
  clear: left;
  line-height: 1.4;
  margin-left:0;
  float: left;
  display: inline;
  margin-right: 10px;
  text-align:left;
}
.work{
    padding-left:60px;

}
.workLogo{
  padding-left:60px;
  width:50%;
  float:right;
}
.work > h2{
  font-size: 1.5rem;
  margin-bottom:1rem;
}
.work > h2.workTitle{
  margin-bottom:0rem;
}
/* PhotoGrid
   ========================================================================== */

@media only screen and (min-width: 400px) {
    .photo-row {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;

    }
}
@media only screen and (min-width: 800px) {
    .photo-row {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;

    }
}
@media only screen and (min-width: 1100px) {
    .photo-row {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;

    }
}

@media only screen and (min-width: 1500px) {
    .photo-row {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;

    }
}

.item {
 display: inline-block;
 padding:  0rem;
 width:  100%; 
 margin:0;
}
.item:hover{
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(60%, rgba(0,0,0,0.45)), color-stop(100%, rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.65) 100%);
  background: -moz-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.45) 60%,rgba(0,0,0,0.65) 100%);
  transition: opacity 0.5s ease-out;


}
.item > img{
  min-width:100%;
  z-index: -1;
  position:relative;
}